html,
body {
    height: 100%;
}
#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
#wrap > .container {
    padding: 60px 0 20px;
}
footer {
    border-top: 1px solid #f4e3db;
    height: 60px;
    background-color: #f5f5f5;
}
footer .container .text-muted {
    margin: 20px 0;
}
footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

.wave-spinner > div {
    background-color: #f7a700 !important;
}

.edu-sidebar {
    margin-top: 20px;
}
.edu-top-header {
    margin-top: 0;
}
.edu-sidebar .glyphicon {
    margin-right: 10px;
}
.spinnerContainer {
    padding: 20px 0;
}
.video-list-item h4 {
    height: 20px;
    overflow: hidden;
}
.video-wrapper {
    overflow: hidden;
}

/* Generic */
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 10px;
    padding: 0;
    pointer-events: none;
    font-size: 14px;
    line-height: 45px;
}

/* ngAnimation */
.animate.ng-enter,
.animate.ng-leave {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.animate.ng-enter,
.animate.ng-leave.ng-leave-active {
    opacity: 0;
}
.animate.ng-leave,
.animate.ng-enter.ng-enter-active {
    opacity: 1;
}

/* Video JS */
.vjs-youtube {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.vjs-youtube .vjs-big-play-button {
    display: none;
}
.vjs-big-play-button {
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    margin:auto;
}
