<div class="page-header edu-top-header">
    <h2 class="row">
        <div class="col-sm-8 col-md-8">
            Courses
            <a href="#/courses/create" title="Create" tooltip><span class="glyphicon glyphicon-plus"></span></a>
        </div>
        <div class="col-sm-4 col-md-4">
            <form role="search">
                <div class="right-inner-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control" ng-model="search.title"
                        placeholder="Search for a course..."/>
                </div>
            </form>
        </div>
    </h2>
</div>
<table ng-if="data" class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="course in data | filter:search track by $index">
            <td>{{course.id}}</td>
            <td>{{course.title}}</td>
            <td>{{course.description}}</td>
            <td>
                <button class="btn btn-xs btn-success">{{!course.enrolled&&"Enroll!!!"|| "go to     class"}}
                </button>
            </td>
            <td>
                <!-- #/courses/{{course.id}}/edit -->
                <a ng-href="" title="Edit" tooltip><span class="glyphicon glyphicon-edit"></span></a>
            </td>
        </tr>
    </tbody>
</table>
