<div>
    <div class="page-header edu-top-header">
        <h2>{{title}}</h2>
    </div>

    <form name="form" role="form">
        <p ng-if="authError" class="alert alert-danger">
            You need to be logged in as admin to edit a problem.
        </p>

        <div class="form-group">
            <label for="Title" >Title</label>
            <input type="text" required ng-model="video.title" class="form-control">
        </div>
        <div class="form-group">
            <label for="videoUrl">Video url:</label>
            <input  type="url" type="text" required ng-model="video.url" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" ng-model="video.description" class="form-control">
        </div>
        <button name="CreateBtn" ng-disabled="form.$invalid" ng-click="create(video)" class="btn btn-default">Create</button>
    </form>
</div>
