<div class="page-header edu-top-header">
    <h2 class="row">
        <div class="col-sm-8 col-md-8">
            Videos
            <small>Subtext for header</small>
        </div>
        <div class="col-sm-4 col-md-4">
            <form role="search">
                <div class="right-inner-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control" ng-model="search.title"
                           placeholder="Search for a video..."/>
                </div>
            </form>
        </div>
    </h2>
</div>

<div class="row">
    <div ng-if="!videos">
        <wave-spinner></wave-spinner>
    </div>
    <div class="col-sm-6 col-md-4 animate video-list-item" ng-repeat="video in videos | filter:search track by $index">
        <div class="thumbnail">
            <img class="img-responsive" ng-src="{{video.thumbnail || 'http://placehold.it/320x180'}}"
                 alt="{{video.title}}">

            <div class="caption">
                <h4>{{video.title}}</h4>

                <p class="btn-group btn-group-justified">
                    <a href="#/video/{{video.id}}" class="btn btn-block btn-warning">Watch</a>
                    <a href="#" ng-disabled="{{!video.watched}}" class="btn btn-block btn-success">Review</a>
                </p>
            </div>
        </div>
    </div>
</div>
