<div ng-if="!title">
    <wave-spinner></wave-spinner>
</div>

<div class="fade" ng-class="{in: title}">
    <div class="page-header edu-top-header">
        <h2>{{title}}</h2>
    </div>

    <div class="progress">
        <div ng-repeat="question in questions" class="progress-bar"
             ng-class="currentClass('progress-bar', question)"
             ng-style="{width: 100/total + '%'}">
            <span class="sr-only"></span>
        </div>
    </div>

    <div class="panel" ng-class="currentClass('panel')">
        <div class="panel-heading">
            <div class="panel-title row">
                <div class="col-sm-8 col-md-8">
                    {{question.title}}
                </div>
                <div class="col-sm-4 col-md-4 text-right text-muted small">
                    {{position}} of {{total}} questions
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form role="form">
                <p ng-if="authError" class="alert alert-danger">
                    You need to log in to solve problems.
                </p>
                <div class="radio" ng-repeat="option in question.options">
                    <label>
                        <input ng-model="question.answer" name="question-{{question.id}}"
                               value="{{option.id}}" type="radio"> {{option.value}}
                    </label>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <div class="btn-group">
                <button ng-disabled="isAnswered" ng-click="submit()" type="submit"
                        class="btn btn-sm btn-warning">Submit
                </button>
                <button ng-disabled="canProceed" ng-if="!isAnswered && hasNext" type="button"
                        class="btn btn-sm btn-danger" ng-click="next()">Skip
                </button>
                <button ng-disabled="canProceed" ng-if="isAnswered && hasNext" type="button"
                        class="btn btn-sm btn-success" ng-click="next()">Next
                </button>
            </div>
        </div>
    </div>
</div>
