<div>
	<div class="page-header edu-top-header">
		<h2> Edit problem: {{problem.title}} </h2>
	</div>

	<h3>Title</h3>
	<p>{{problem.title}}</p>

	<h3>Description</h3>
	<p>{{problem.description}}</p>

	<h3>Video</h3>
	<p ng-if="video"><a ng-href="#/videos/{{video.id}}">{{video.title}}</a></p>
	<div ng-if="!video">
		<p>No video associated to this problem
			<span ng-hide="show.attachForm">
				- <a href="" ng-click="show.attachForm = true">attach</a>
			</span>
		</p>
		<div ng-show="show.attachForm">
			<form name="attachForm" class="form-inline" role="form">

				<p ng-if="authError" class="alert alert-danger">
					You need to be logged in as admin to edit a problem.
				</p>

				<div class="form-group">
				    <label for="videoToAttach">video :</label>
				    <select
				    	class="form-control" id="videoToAttach"
				    	ng-model="attach.video"
				    	ng-options="v.title for v in videos"
				    >
				    	<option value="">-- select a video --</option>
				    </select>
						<button
				      type="submit"
				      class="btn btn-default question-submit"
				      ng-click="attachVideo(attach.video, problem)"
				      ng-disabled="!attach.video"
				    >
				      Attach
				    </button>
				    <button type="reset" class="btn btn-default question-cancel" ng-click="resetAttachForm()">
				      Cancel
				    </button>
			  	</div>
			</form>
		</div>
	</div>

	<h3>Questions</h3>
	<p ng-if="problem.questions.length === 0">No questions</p>

	<div ng-repeat="question in problem.questions">
		<h4 for="Title" >#{{$index+1}}. {{question.title}}</h4>
		<p>Answers:</p>
		<ul>
			<li ng-repeat="answer in question.options">
				#{{$index+1}}. "{{answer.value}}"<span ng-if="question.validAnswer == answer.id"> (valid answer)</span>.
			</li>
		</ul>
	</div>

	<a href="" ng-click="showNewQuestionForm = true" ng-hide="showNewQuestionForm">Add a question</a>

	<p ng-if="authError" class="alert alert-danger">
		You need to be logged in as admin to edit a problem.
	</p>
	<question-form problem="problem" on-submit="addQuestion" ng-show="showNewQuestionForm"></question-form>
</div>