<div class="page-header edu-top-header">
    <h2 class="row">
        <div class="col-sm-8 col-md-8">
            Problems
            <small>Subtext for header</small>
        </div>
        <div class="col-sm-4 col-md-4">
            <form role="search">
                <div class="right-inner-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control" ng-model="search.title"
                           placeholder="Search for a problem..."/>
                </div>
            </form>
        </div>
    </h2>
</div>

<div ng-if="!problems">
    <wave-spinner></wave-spinner>
</div>
<table ng-if="problems" class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="problem in problems | filter:search track by $index">
            <td>{{problem.id}}</td>
            <td>{{problem.title}}</td>
            <td>{{problem.description}}</td>
            <td>
                <a href="#/problems/{{problem.id}}" title="Solve" tooltip><span class="glyphicon glyphicon-time"></span></a>
                <a href="#/videos/{{problem.id}}" title="Watch Again" tooltip><span class="glyphicon glyphicon-play-circle"></span></a>
                <a href="#/problems/{{problem.id}}/edit" title="Edit" tooltip><span class="glyphicon glyphicon-edit"></span></a>
            </td>
        </tr>
    </tbody>
</table>
