<form role="form">
  <div class="form-group">
    <label>Title</label>
    <input type="text" required ng-model="question.title" class="form-control question-title">
  </div>

  <p>Answers:</p>
  <ul>
    <li ng-if="question.options.length <1">no answer</li>
    <li ng-repeat="answer in question.options">
      #{{$index+1}}. "{{answer}}"<span ng-if="question.validAnswer == answer"> (valid answer)</span>.
    </li>
  </ul>

  <div class="form-group">
    <label>New options</label>
    <div class="input-group">
      <input type="text" ng-model="newAnswer" class="form-control question-new-answer">
      <span class="input-group-btn">
        <button
          class="btn btn-default question-add-answer" type="button"
          ng-click="addAnswer(newAnswer)"
        >
          Add
        </button>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label>Solution</label>
    <select
      ng-model="question.validAnswer"
      ng-options="a for a in question.options"
      class="form-control question-valid-answer"
    >
      <option value="">-- choose answer --</option>
    </select>
  </div>

  <p>
    <button
      type="submit"
      class="btn btn-default question-submit"
      ng-click="create(question)"
      ng-disabled="!isValid(question)"
    >
      Create question
    </button>
    <button type="reset" class="btn btn-default question-cancel" ng-click="reset()">
      Cancel
    </button>
  </p>
</form>