<div>
  <div class="page-header edu-top-header">
    <h2>Create new topic</h2>
  </div>

  <form role="form" name="newTopicForm">
    <p ng-if="authError" class="alert alert-danger">
      You need to be logged in as admin to edit a problem.
    </p>

    <div ng-class="{'form-group': true, 'has-error': !newTopicForm.TopicTitle.$valid, 'has-feedback': true}">
      <label for="Title" >
        Title
        <small ng-if="newTopicForm.TopicTitle.$error.required" class="text-danger">(required)</small>
      </label>
      <input type="text" name="TopicTitle" required="true" ng-model="newTopic.title" class="form-control"/>
      <span ng-if="!newTopicForm.TopicTitle.$valid" class="glyphicon glyphicon-remove form-control-feedback"></span>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea type="text" ng-model="newTopic.description" class="form-control"></textarea>
    </div>
    <button name="CreateBtn" ng-disabled="newTopicForm.$invalid || saving" ng-click="create(newTopic)" class="btn btn-default">
      Create
    </button>
  </form>
</div>