<div ng-if="!title">
    <wave-spinner></wave-spinner>
</div>

<div class="fade video-wrapper" ng-class="{in: title}">
    <div class="page-header edu-top-header">
        <h2>{{title}}</h2>
    </div>

    <div class="animate">
        <video video-js class="video-js vjs-default-skin"></video>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading text-right">
            <a href="#/problems/{{id}}" class="btn btn-danger">
                <span class="glyphicon glyphicon-time"></span> Skip to Problem
            </a>
            <a href="#" ng-if="!isYouTube" class="btn btn-success">
                <span class="glyphicon glyphicon-download"></span> Download
            </a>
        </div>
        <div class="panel-body">
            <h3 class="text-muted lead">Instructions</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad at cum dolorem eveniet fugiat impedit laudantium nam neque obcaecati quaerat repudiandae sequi sunt tempora ullam, ut veniam vitae voluptates?</p>
        </div>
    </div>
</div>
